@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/
h2 {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  color: #43A047;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

h4 {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  color: #000;
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

.form-data {
  max-width: 600px;
  width: 100%;
  margin: 30px auto;
  position: relative;
}

.form-group {
  margin-bottom: 10px;
  display: inline-block;
  min-width: 100%;
  width: 100%;
  position: relative;
  margin: 8px auto 12px;
  padding: 0;
}

.signup,
.contact {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group label {
  color: #121212;
  font-size: 14px;
  text-transform: capitalize;
}

.contact input[type="text"],
.contact input[type="radio"],
.contact input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0 0;
  background: #FFF;
  outline: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.contact input[type="radio"] {
  margin: 20px 0 0;
  width: 6%;
  display: inline-block;
}

.contact input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 0 0 5px;
  background: #FFF;
  cursor: pointer;
}

.value {
  margin: 0 auto;
}
.contact input[type="submit"],
.submit {
  width: 100%;
  padding: 10px;
  border: none;
  margin: 0 0 5px;
  cursor: pointer;
  background: #4CAF50;
  color: #FFF;
  font-size: 15px;
}

/* .pay .submit {
  margin: 0 auto;
  width: 50%;
} */

.contact input[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.required {
  margin-left: 5px;
  font-size: 14px;
  color : #f00;
}

.error {
  display: block;
  position: absolute;
  color: #f00;
  font-size: 11px;
  letter-spacing: 1.4px ;
}

.address {
  display: block;
  width: 98%;
  resize: none;
}
/* .success {
  display: block;
  color: #43A047;
  font-size: 14px;
  letter-spacing: 1.4px ;
} */

.display-table {
  margin: 0 auto;
  text-transform: capitalize;
}

.heading-data {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
}

.heading-data span {
  font-weight: 900;
  color: #121212;
}

.user-details {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.user-details li {
  width: 20%;
  padding: 10px 0;
  text-align: center;
}

.user-details li:nth-child(4) {
  text-transform: lowercase;
}

.user-details:nth-child(even) {
  background:#ccc; 
  color:#000;
}

.user-details li:nth-of-type(6) a {
  color : #f00;
}

.user-details li:last-child a {
  color : rgb(24, 116, 24);
}

.signup {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
  background: #4CAF50;
  font-size: 15px;
  text-align: center;
}

.signup a {
  width: 100%;
  color : #fff;
}

.login a {
  color: #4CAF50;
}

.logout {
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  right: 1%;
  border-radius: 5px;
  background: #121212;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.payment-details {
  position: relative;
  /* bottom: 10px; */
  margin: 50px 0 120px;
}

.payment {
  padding: 12px 10px;
  position: absolute;
  bottom: 0px;
  right: 6.7%;
  border-radius: 5px;
  background: #121212;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.edit {
  right : 7%;
}

.cart-value {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  background: rgb(85, 68, 68);
  color: #222;
  font-size: 20px;
}

.logout a,
.payment a {
  color: #4CAF50;
  text-transform: capitalize;
}
.temp-session {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  background-color: #4CAF50;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/* .course-data li:last-child a:visited {
  color: #f00;
} */

/* Popular products page */

.products { 
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #F1F1F1;
  background-color: #F1F1F1; 
}

.products h4 { 
  color: #222;
  font-size: 14px;
  font-weight: 600;
}

.popular-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px;
}

.popular-products li { flex-basis: 23.2%; }
 
.product-details {
  margin-top: 17px;
  display: block;
  position: relative;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(209,201,209,1);
  -moz-box-shadow: 2px 2px 7px 0px rgba(209,201,209,1);
  box-shadow: 2px 2px 7px 0px rgba(209,201,209,1);
} 

.product-name { 
  margin: 10px 0 0;
  color: #000;
  display: block;
  font-size: 15px;
}

.product-price,.original-price {
  display: inline-block;
  margin-bottom: 8px;
  color: #222;
  font-size: 11px;
  font-weight: 900;
}

/*=================================
  main styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  